.product-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.card {
  p {
    margin-bottom: 10px;
  }
}

.product-color-preview {
  height: 150px;
  cursor: pointer;
}

span.page-link {
  cursor: pointer;
}
