<div class="row py-4">
  <div class="col">
    <div class="row">
      <div class="col">
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            #search
            (keyup)="onKeyUp(search.value)"
            placeholder="Filter..."
          />
        </div>
      </div>
    </div>
    <div class="product-container">
      <div class="card shadow" *ngFor="let item of filtered">
        <!-- [ngStyle]="{ 'background-color': item.color }" -->
        <div
          class="product-color-preview"
          [style.background-color]="item.color"
          [routerLink]="[item.id]"
        ></div>
        <div class="card-body">
          <h5 class="card-title text-capitalize">{{ item.name }}</h5>
          <p class="card-text text-info">
            <span>Pantone Value: </span> {{ item.pantone_value }}
          </p>
          <p class="card-text text-info"><span>Year: </span> {{ item.year }}</p>
          <p class="card-text text-warning">
            <span>Price: </span> {{ item.price | currency: "USD" }}
          </p>
        </div>
      </div>
    </div>

    <nav>
      <ul class="pagination">
        <li class="page-item" [class.disabled]="currentPage == 1">
          <span class="page-link" (click)="onClickPrevious()">Previous</span>
        </li>
        <li
          class="page-item"
          *ngFor="let page of pages"
          [class.active]="currentPage === page"
          (click)="goToPage(page)"
        >
          <span class="page-link" href="#">
            {{ page }}
          </span>
        </li>
        <li class="page-item" [class.disabled]="currentPage == pages.length">
          <span class="page-link" (click)="onClickNext()">Next</span>
        </li>
      </ul>
    </nav>
  </div>
</div>
