// img {
//   height: 44px;
//   width: 44px;
//   object-fit: cover;
// }

// .user-dropdown {
//   .dropdown-toggle::after {
//     color: #fff;
//   }
//   .dropdown-menu {
//     right: 0;
//     left: auto;

//     .dropdown-item {
//       cursor: default;
//     }
//   }
// }

img {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 50%;
}

.user-dropdown {
  .dropdown-menu {
    right: 0;
    left: auto;
  }
  .dropdown-toggle::after {
    color: white;
  }
}

.search-dropdown {
  .dropdown-menu {
    left: 0;
    right: auto;
    min-width: 100%;
  }
}

.cart-quantity {
  position: relative;
  top: -8px;
  margin-left: 3px;
}

.cart-price {
  font-size: 12px;
}